
 <div class="container mt-5 text-center">
    <h2 class="main-header-text my-5"><strong>Leatest Blog</strong></h2>
  <div class="card-group">
  
      <div class="card">
        <img src="https://i.stack.imgur.com/mwFzF.png" width="487" height="325" class="card-img-top" alt="Hollywood Sign on The Hill"/>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in to
            additional content. This content is a little bit longer.
          </p>
          <p class="card-text">
            <small class="text-muted"><a href="#">Read more</a></small>
          </p>
        </div>
      </div>
  
      
      <div class="card">
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img-top" alt="Hollywood Sign on The Hill"/>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in to
            additional content. This content is a little bit longer.
          </p>
          <p class="card-text">
            <small class="text-muted"><a href="#">Read more</a></small>
          </p>
        </div>
      </div>
  
      <div class="card">
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img-top" alt="Hollywood Sign on The Hill"/>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in to
            additional content. This content is a little bit longer.
          </p>
          <p class="card-text">
            <small class="text-muted"><a href="#">Read more</a></small>
          </p>
        </div>
      </div>
  
  
  
    </div>
  </div>